.foreCast{
    width: 70%;
    height: 40%;
    background-color: #101118;
    transform: translate(0,-20%);
}
.days{
    display: grid;
    grid-template-columns: 40% auto;
    grid-template-rows: auto;
    width: 80%;
}
.day{
    display: flex;
    flex-direction: column;
    background-color: #30323f;
    color: white;
    cursor: pointer;
    height: 15rem;
}
.day:hover{
    background-color:#3f4252;
}
.head{
    display: grid;
    grid-template-columns: auto 50% auto;
    align-items: center;
    justify-items: center;
    color: white;
}
.btn{
    text-decoration: none;
    color: white;
    border-radius: 14px;
    padding: 0 0.25rem;
    transition: 0.2s;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.btn img{
    transition: 0.3s;
}
.btn:hover #prevDay{
    padding-right: 0.5rem;
}
.btn:hover #nextDay{
    padding-left: 0.5rem;
}
.body{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    align-items: flex-start;
}
.body2{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}
.temp{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 50%;
}
.temp2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 50%;
    margin-top: 2rem;
    align-items: center;
}
.bottom{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 70%;
}
@media only screen and (max-width:768px){
}
