#root {
  margin: 0;
  --primColor:#1e202b;
  --secColor:#009ad8;
}
.container{
  height: 80rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.content{
  position: relative;
  height: 100%;
  width: 100%;
}
@media screen and (max-width:765px){
}